#root .yasgui {
  line-height: initial;

  input[type="checkbox"] {
    margin: revert;
    opacity: revert;
    position: revert;
  }

  svg {
    vertical-align: revert;
  }

  label {
    margin-bottom: revert;
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxOHB4JyBoZWlnaHQ9JzE4cHgnPjxwb2x5bGluZSBwb2ludHM9JzMsNiAxNSw2IDksMTQnLz48L3N2Zz4K) right no-repeat;
    background-position: right 3px center;
    background-size: 18px 18px;
  }

  input, select {
    border: 1px solid #d1d1d1;
    background-color: white;
    padding: 2px 3px;
  }

  input:focus, select:focus {
    outline-color: #7fbcff !important;
    outline-offset: -1px !important;
    outline-style: solid !important;
    outline-width: 1px !important;
  }

  .controlbar {
    button {
      padding: 0px 0px 0px 10px;
    }
  
    .autocomplete {
      border: 1px solid #ccc !important;
      padding: 3px 6px;
    }
  }

  .dataTables_wrapper {
    margin-top: 5px;
  }
}
